#Ignore eclipse workspace files
.classpath
.project
.settings
eclipse

#Ignore IntelliJ IDEA files
*.iml
*.ipr
*.iws
out

#Ignore build files
build

#Ignore Minecraft run directory
run

#Ignore gradle logs
.gradle
