#Ignore eclipse workspace files
.classpath
.project
.settings
eclipse

#Ignore IntelliJ IDEA files
*.iml
*.ipr
*.iws
out

#Ignore minecraft source files
build

#Ignore compiled mod files
bin

#Ignore gradle logs
.gradle

#Ignore language files
lang